__pycache__/
*.py[cod]
*$py.class
*.png
.DS_Store
.vs

# Distribution / packaging
.Python
build/

# Installer logs
pip-log.txt

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

